import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.account.provider.*;
import sorcer.account.provider.ui.*;
import sorcer.account.provider.ui.mvc.*;

sorcer.core.provider.ServiceProvider {
		properties = "..${/}configs${/}formatter.properties";
		name="Formatter";
		publishedInterfaces = new Class[] { sorcer.assignment.TextService.class };
		description = "This service provides a capability to correct misspeled words in given text";
		location = "PJWSTK";
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

